Repository MaximilianAnzinger/pgdp2223-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, w01h01, w01h02, w01h03, w02h01, w02h02, w02h03, w03h01, w03h02, w03h03, w04h01, w04h02, w04h03, w05h01, w05h02, w05h03, w06h01, w06h02, w06h03, w07h01, w07h02, w07h03, w08h01, w08h02, w08h03, w09b01, w09h01, w09h02, w09h03, w10h01, w10h02, w10h03, w11h01, w11h02, w11h03, w12h01, w12h02, w12h03, w13h01, w13h02, w13h03

add Test for more available Player than placable Players
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

add test for calculation score wrong after calling computeOptimalLineup
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

[W10H02] Added memory usage to large example
  w10h02/test/pgdp/teams/ArtemisTest.java
Labels: w10h02

[W10H03] added HeavyTreeTest
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
Labels: w10h03

[W10H03] added Class ComparableLongest
  w10h03/test/pgdp/infinite/OptimizableLongest.java
Labels: w10h03

added makeHeavyChildren lambda
  w10h03/test/pgdp/infinite/Lambdas.java
Labels: w10h03

added makeHeavyChildren supplier
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H03] Added Tests for heavyTree to see if children are removed properly (#263)
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableLongest.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H02] added Test for more Players available than needed Players (#260)
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

added test for tree with many children
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

added makeManyChildren lambda
  w10h03/test/pgdp/infinite/Lambdas.java
Labels: w10h03

added makeManyChildrenTree
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

migrate heavyTreeTest to InfiniteTreeTest
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
Labels: w10h03

migrate heavyTreeTest to infiniteTreeTest
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

Rename file and format
  w10h01/test/pgdp/trials/TrialOfTheGrassesTest.java
Labels: w10h01

[W10H01] Add tests for `TrialOfTheGrasses` (#256)
  w10h01/test/pgdp/trials/TrialOfTheGrassesTest.java
Labels: w10h01

[W10H01] Factor out zero length test
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

add empty Player Set test
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

changed numberXXX to 0
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Added isFullyCalculatedTest & extended resetChildren
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
Labels: w10h03

add tests for TrialOfTheMountains
  w10h01/test/pgdp/trials/TrialOfTheMountainsTest.java
Labels: w10h01

Added Tests for stopping immediately after optimizable.process(value) is true
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

changed condition for exit on value null to notequals 2 instead of correct value, which should be covered by the other tests
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

Update w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Lambdas.java
Labels: w10h03

changed comments
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

Update Lambdas.java
  w10h03/test/pgdp/infinite/Lambdas.java
Labels: w10h03

[W10H03] Added tests for amount of calls of next() (#269)
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

[W10H03] added Test for Tree with 100k children per node (#264)
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H02] add empty Player Set test (#266)
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

[W10H03] Added isFullyCalculatedTest & extended resetChildren (#267)
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
Labels: w10h03

add dfs test
  w10h03/test/pgdp/infinite/DFSTest.java
Labels: w10h03

catch OutOfMemoryException and fail() so other tests can still get executed
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

add missing import
  w10h03/test/pgdp/infinite/Lambdas.java
Labels: w10h03

remove leftover code
  w10h03/test/pgdp/infinite/DFSTest.java
Labels: w10h03

Add w11b01 tests
  w11b01/test/pgdp/pengusurvivors/GeneratedGraph.java
  w11b01/test/pgdp/pengusurvivors/GraphGenerator.java
  w11b01/test/pgdp/pengusurvivors/GraphUtils.java
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

[W11H03] Add tests for HTTP and Socket
  w11h03/test/pgdp/networking/HTTPClientMock.java
  w11h03/test/pgdp/networking/HTTPTests.java
  w11h03/test/pgdp/networking/ReflectUtils.java
  w11h03/test/pgdp/networking/SocketTests.java
  w11h03/test/pgdp/networking/lipsum.txt
Labels: w11h03

Change filenames to conform to style guide
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Change class names to conform to style guide
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

WIP
  w11h03/test/pgdp/networking/DataHandlerTest.java
  w11h03/test/pgdp/networking/Request.java
Labels: w11h03

first commit
  w11h03/test/config.env
  w11h03/test/pgdp/networking/Lib.java
  w11h03/test/pgdp/networking/NetworkTest.java
  w11h03/test/requests.rest
Labels: w11h03

.github/labeler.yml:

"ci/cd":
  - .github/workflows/*
  - .github/labeler.yml

"documentation":
  - "**/*.md"

"w01h01":
  - "w01h01/**"
"w01h02":
  - "w01h02/**"
"w01h03":
  - "w01h03/**"

"w02h01":
  - "w02h01/**"
"w02h02":
  - "w02h02/**"
"w02h03":
  - "w02h03/**"

"w03h01":
  - "w03h01/**"
"w03h02":
  - "w03h02/**"
"w03h03":
  - "w03h03/**"

"w04h01":
  - "w04h01/**"
"w04h02":
  - "w04h02/**"
"w04h03":
  - "w04h03/**"

"w05h01":
  - "w05h01/**"
"w05h02":
  - "w05h02/**"
"w05h03":
  - "w05h03/**"

"w06h01":
  - "w06h01/**"
"w06h02":
  - "w06h02/**"
"w06h03":
  - "w06h03/**"

"w07h01":
  - "w07h01/**"
"w07h02":
  - "w07h02/**"
"w07h03":
  - "w07h03/**"

"w08h01":
  - "w08h01/**"
"w08h02":
  - "w08h02/**"
"w08h03":
  - "w08h03/**"

"w09b01":
  - "w09b01/**"
"w09h01":
  - "w09h01/**"
"w09h02":
  - "w09h02/**"
"w09h03":
  - "w09h03/**"

"w10h01":
  - "w10h01/**"
"w10h02":
  - "w10h02/**"
"w10h03":
  - "w10h03/**"

"w11h01":
  - "w11h01/**"
"w11h02":
  - "w11h02/**"
"w11h03":
  - "w11h03/**"

"w12h01":
  - "w12h01/**"
"w12h02":
  - "w12h02/**"
"w12h03":
  - "w12h03/**"

"w13h01":
  - "w13h01/**"
"w13h02":
  - "w13h02/**"
"w13h03":
  - "w13h03/**"
