Repository MaximilianAnzinger/pgdp2223-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, w01h01, w01h02, w01h03, w02h01, w02h02, w02h03, w03h01, w03h02, w03h03, w04h01, w04h02, w04h03, w05h01, w05h02, w05h03, w06h01, w06h02, w06h03, w07h01, w07h02, w07h03, w08h01, w08h02, w08h03, w09b01, w09h01, w09h02, w09h03, w10h01, w10h02, w10h03, w11h01, w11h02, w11h03, w12h01, w12h02, w12h03, w13h01, w13h02, w13h03

Added some simple TrialOfTheDreams tests
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

fixed small issue preventing Tests from succeed
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

A new Test Case for TrialOfTheDreams
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

[W10H03] Add Tests (#246)
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H02] Hot Fix: Delete Leftover Code (#250)
  w10h02/test/pgdp/teams/ArtemisTest.java
Labels: w10h02

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

[W10H02] Added computeScores() test near the boundaries
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Update UnitTest.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

fixed tests
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

fixed removed import
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Added Integer.MIN_VALUE and doubled synergy if in same team tests
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Added TrialOfDreams tests
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Created a TrialOfTheDreamsTest
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

replace depthTest with findTest
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Made Function into lambda and wrote a getter
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Fix
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

[W10H01] Add tests for `TrailOfTheGrasses`
  w10h01/test/pgdp/trials/TrailOfTheGrassesTest.java
Labels: w10h01

[W10H03] replace depthTest with findTest (#255)
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H02] Added computeScores() test near the boundaries (#251)
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Apply suggestions from code review
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Update w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Fixed, but not with parameterized but with iteration
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Added w12h03 tests
  w12h03/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/pgdp/shuttle/TODO
  w12h03/pgdp/shuttle/TaskDistributorTests.java
  w12h03/pgdp/shuttle/TestTaskGenerator.java
  w12h03/pgdp/shuttle/dummies/ProcessorDummy.java
  w12h03/pgdp/shuttle/dummies/TaskCheckerDummy.java
Labels: w12h03

revert
  w12h03/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/pgdp/shuttle/TODO
  w12h03/pgdp/shuttle/TaskDistributorTests.java
  w12h03/pgdp/shuttle/TestTaskGenerator.java
  w12h03/pgdp/shuttle/dummies/ProcessorDummy.java
  w12h03/pgdp/shuttle/dummies/TaskCheckerDummy.java
Labels: w12h03

Apply suggestions from code review
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

added w12h03 test
  w12h03/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/pgdp/shuttle/TODO
  w12h03/pgdp/shuttle/TaskDistributorTests.java
  w12h03/pgdp/shuttle/TestTaskGenerator.java
  w12h03/pgdp/shuttle/dummies/ProcessorDummy.java
  w12h03/pgdp/shuttle/dummies/TaskCheckerDummy.java
Labels: w12h03

moved to test folder
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TODO
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
  w12h03/test/pgdp/shuttle/dummies/ProcessorDummy.java
  w12h03/test/pgdp/shuttle/dummies/TaskCheckerDummy.java
Labels: w12h03

reformated and fixed some tests
  w12h03/test/pgdp/shuttle/ReflectionHelper.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/dummies/ProcessorDummy.java
  w12h03/test/pgdp/shuttle/dummies/TaskCheckerDummy.java
Labels: w12h03

Apply suggestions from code review
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

General cleaning up
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

[W10H01] Added TrialOfDreams tests (#253)
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Added more tests
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TODO
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
Labels: w12h03

Fixed ShuttleOutputTests
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

Add Pingus
  w10h02/test/pgdp/teams/Lib.java
Labels: w10h02

add Test more available Players than placable Players
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

add more pingus
  w10h02/test/pgdp/teams/Lib.java
Labels: w10h02

.github/labeler.yml:

"ci/cd":
  - .github/workflows/*
  - .github/labeler.yml

"documentation":
  - "**/*.md"

"w01h01":
  - "w01h01/**"
"w01h02":
  - "w01h02/**"
"w01h03":
  - "w01h03/**"

"w02h01":
  - "w02h01/**"
"w02h02":
  - "w02h02/**"
"w02h03":
  - "w02h03/**"

"w03h01":
  - "w03h01/**"
"w03h02":
  - "w03h02/**"
"w03h03":
  - "w03h03/**"

"w04h01":
  - "w04h01/**"
"w04h02":
  - "w04h02/**"
"w04h03":
  - "w04h03/**"

"w05h01":
  - "w05h01/**"
"w05h02":
  - "w05h02/**"
"w05h03":
  - "w05h03/**"

"w06h01":
  - "w06h01/**"
"w06h02":
  - "w06h02/**"
"w06h03":
  - "w06h03/**"

"w07h01":
  - "w07h01/**"
"w07h02":
  - "w07h02/**"
"w07h03":
  - "w07h03/**"

"w08h01":
  - "w08h01/**"
"w08h02":
  - "w08h02/**"
"w08h03":
  - "w08h03/**"

"w09b01":
  - "w09b01/**"
"w09h01":
  - "w09h01/**"
"w09h02":
  - "w09h02/**"
"w09h03":
  - "w09h03/**"

"w10h01":
  - "w10h01/**"
"w10h02":
  - "w10h02/**"
"w10h03":
  - "w10h03/**"

"w11h01":
  - "w11h01/**"
"w11h02":
  - "w11h02/**"
"w11h03":
  - "w11h03/**"

"w12h01":
  - "w12h01/**"
"w12h02":
  - "w12h02/**"
"w12h03":
  - "w12h03/**"

"w13h01":
  - "w13h01/**"
"w13h02":
  - "w13h02/**"
"w13h03":
  - "w13h03/**"
