Repository MaximilianAnzinger/pgdp2223-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, w01h01, w01h02, w01h03, w02h01, w02h02, w02h03, w03h01, w03h02, w03h03, w04h01, w04h02, w04h03, w05h01, w05h02, w05h03, w06h01, w06h02, w06h03, w07h01, w07h02, w07h03, w08h01, w08h02, w08h03, w09b01, w09h01, w09h02, w09h03, w10h01, w10h02, w10h03, w11h01, w11h02, w11h03, w12h01, w12h02, w12h03, w13h01, w13h02, w13h03

Remove redundant output of graph in failing test message
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

remove persistent connection of graph
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

[W11B01] Add tests for first 4 subtasks (#273)
  w11b01/test/pgdp/pengusurvivors/GeneratedGraph.java
  w11b01/test/pgdp/pengusurvivors/GraphGenerator.java
  w11b01/test/pgdp/pengusurvivors/GraphUtils.java
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

Added tests for ShuttleComputer and TaskChecker
  w12h03/test/pgdp/shuttle/ReflectionHelper.java
  w12h03/test/pgdp/shuttle/ShuttleComputerTests.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TODO
  w12h03/test/pgdp/shuttle/TaskCheckerTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
Labels: w12h03

Hotfix
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

use correct max flow rate and set initial flow to 0
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

generateModelTest
  w11b01/test/pgdp/pengusurvivors/GenerateModelTest.java
Labels: none

[W11B01] Hotfix (#287)
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

[W11B01] fix getmaxFlow (#288)
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

Update MultiStackTest.java
  w12h02/test/pgdp/ds/MultiStackTest.java
Labels: w12h02

[W11B01] GenerateModelTest (#289)
  w11b01/test/pgdp/pengusurvivors/GenerateModelTest.java
Labels: none

Multithreded Multistacktest
  w12h02/MultiStackMultithreadTest.java
Labels: w12h02

Multithreaded Multistacktest: rc and simple dl
  w12h02/test/pgdp/ds/MultiStackMultithreadTest.java
Labels: w12h02

Refactored and fixed some tests
  w12h03/test/pgdp/shuttle/ShuttleComputerTests.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskCheckerTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
Labels: w12h03

added tests
  w12h02/test/pgdp/ds/MultiStackSyncTests.java
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

removed main method used for debugging
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

Multithred Multistack split PR
  w12h02/test/pgdp/ds/MultiStackMultithreadTest.java
Labels: w12h02

Added EdgeCases to GenerateModelTest
  w11b01/test/pgdp/pengusurvivors/GenerateModelTest.java
Labels: none

fixed package
  w12h02/test/pgdp/ds/MultiStackSyncTests.java
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

removed debug prints
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

TimeoutChecker
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

Ringbuffer Threaded Test: rc, dl, wait on Full/Empty
  w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
Labels: w12h02

[W12H02] Added basic behaviour test (mainly from w06h02) (#285)
  w12h02/test/pgdp/ds/MultiStackTest.java
  w12h02/test/pgdp/ds/RingBufferTest.java
Labels: w12h02

TimeoutChecker deactivates on t reached
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

Update w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
  w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
Labels: w12h02

Overload isTimeoutReached
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

[W13H03] Added Exception Tests for PVMVerifier
  w13h03/test/PinguJVMVerifyTest.java
Labels: w13h03

[W12H02] Multithread Multistack and Ringbuffer tests (#292)
  w12h02/test/pgdp/ds/MultiStackMultithreadTest.java
  w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

Update MultiStackSyncTests.java
  w12h02/test/pgdp/ds/MultiStackSyncTests.java
Labels: w12h02

[W12H02] added multithreaded tests (#291)
  w12h02/test/pgdp/ds/MultiStackSyncTests.java
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

removed debug prints
  w12h03/test/shuttle/ReflectionHelper.java
  w12h03/test/shuttle/ShuttleComputerTests.java
  w12h03/test/shuttle/ShuttleOutputTests.java
  w12h03/test/shuttle/ShuttleProcessorTests.java
  w12h03/test/shuttle/TaskCheckerTests.java
  w12h03/test/shuttle/TaskDistributorTests.java
  w12h03/test/shuttle/TestTaskGenerator.java
Labels: w12h03

Added vital checks for whether a Component is actually dead after shutting down
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskCheckerTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
Labels: w12h03

accidentally duplicated files
  w12h03/test/shuttle/ReflectionHelper.java
  w12h03/test/shuttle/ShuttleComputerTests.java
  w12h03/test/shuttle/ShuttleOutputTests.java
  w12h03/test/shuttle/ShuttleProcessorTests.java
  w12h03/test/shuttle/TaskCheckerTests.java
  w12h03/test/shuttle/TaskDistributorTests.java
  w12h03/test/shuttle/TestTaskGenerator.java
Labels: w12h03

[W12H03] Added tests for ShuttleOutput, ShuttleProcessor and TaskDistributor and at this point also TaskChecker and Shuttlecomputer because its been two weeks (#257)
  w12h03/test/pgdp/shuttle/ReflectionHelper.java
  w12h03/test/pgdp/shuttle/ShuttleComputerTests.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskCheckerTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
Labels: w12h03

RingbufferTests Tests fail when Timeout
  .vscode/settings.json
  w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
Labels: w12h02

shutDownTest
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

shutDownTest Detects two variants of the Shutdown Message
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

Removed useless println
  w12h02/test/pgdp/ds/MultiStackMultithreadTest.java
  w12h02/test/pgdp/ds/MultyStackSyncTests.java
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

[W12H03] ShutDownTest Switched two lines (#296)
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

.github/labeler.yml:

"ci/cd":
  - .github/workflows/*
  - .github/labeler.yml

"documentation":
  - "**/*.md"

"w01h01":
  - "w01h01/**"
"w01h02":
  - "w01h02/**"
"w01h03":
  - "w01h03/**"

"w02h01":
  - "w02h01/**"
"w02h02":
  - "w02h02/**"
"w02h03":
  - "w02h03/**"

"w03h01":
  - "w03h01/**"
"w03h02":
  - "w03h02/**"
"w03h03":
  - "w03h03/**"

"w04h01":
  - "w04h01/**"
"w04h02":
  - "w04h02/**"
"w04h03":
  - "w04h03/**"

"w05h01":
  - "w05h01/**"
"w05h02":
  - "w05h02/**"
"w05h03":
  - "w05h03/**"

"w06h01":
  - "w06h01/**"
"w06h02":
  - "w06h02/**"
"w06h03":
  - "w06h03/**"

"w07h01":
  - "w07h01/**"
"w07h02":
  - "w07h02/**"
"w07h03":
  - "w07h03/**"

"w08h01":
  - "w08h01/**"
"w08h02":
  - "w08h02/**"
"w08h03":
  - "w08h03/**"

"w09b01":
  - "w09b01/**"
"w09h01":
  - "w09h01/**"
"w09h02":
  - "w09h02/**"
"w09h03":
  - "w09h03/**"

"w10h01":
  - "w10h01/**"
"w10h02":
  - "w10h02/**"
"w10h03":
  - "w10h03/**"

"w11h01":
  - "w11h01/**"
"w11h02":
  - "w11h02/**"
"w11h03":
  - "w11h03/**"

"w12h01":
  - "w12h01/**"
"w12h02":
  - "w12h02/**"
"w12h03":
  - "w12h03/**"

"w13h01":
  - "w13h01/**"
"w13h02":
  - "w13h02/**"
"w13h03":
  - "w13h03/**"
