Repository MaximilianAnzinger/pgdp2223-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, w01h01, w01h02, w01h03, w02h01, w02h02, w02h03, w03h01, w03h02, w03h03, w04h01, w04h02, w04h03, w05h01, w05h02, w05h03, w06h01, w06h02, w06h03, w07h01, w07h02, w07h03, w08h01, w08h02, w08h03, w09b01, w09h01, w09h02, w09h03, w10h01, w10h02, w10h03, w11h01, w11h02, w11h03, w12h01, w12h02, w12h03, w13h01, w13h02, w13h03

.github/labeler.yml:

"ci/cd":
  - .github/workflows/*
  - .github/labeler.yml

"documentation":
  - "**/*.md"

"w01h01":
  - "w01h01/**"
"w01h02":
  - "w01h02/**"
"w01h03":
  - "w01h03/**"

"w02h01":
  - "w02h01/**"
"w02h02":
  - "w02h02/**"
"w02h03":
  - "w02h03/**"

"w03h01":
  - "w03h01/**"
"w03h02":
  - "w03h02/**"
"w03h03":
  - "w03h03/**"

"w04h01":
  - "w04h01/**"
"w04h02":
  - "w04h02/**"
"w04h03":
  - "w04h03/**"

"w05h01":
  - "w05h01/**"
"w05h02":
  - "w05h02/**"
"w05h03":
  - "w05h03/**"

"w06h01":
  - "w06h01/**"
"w06h02":
  - "w06h02/**"
"w06h03":
  - "w06h03/**"

"w07h01":
  - "w07h01/**"
"w07h02":
  - "w07h02/**"
"w07h03":
  - "w07h03/**"

"w08h01":
  - "w08h01/**"
"w08h02":
  - "w08h02/**"
"w08h03":
  - "w08h03/**"

"w09b01":
  - "w09b01/**"
"w09h01":
  - "w09h01/**"
"w09h02":
  - "w09h02/**"
"w09h03":
  - "w09h03/**"

"w10h01":
  - "w10h01/**"
"w10h02":
  - "w10h02/**"
"w10h03":
  - "w10h03/**"

"w11h01":
  - "w11h01/**"
"w11h02":
  - "w11h02/**"
"w11h03":
  - "w11h03/**"

"w12h01":
  - "w12h01/**"
"w12h02":
  - "w12h02/**"
"w12h03":
  - "w12h03/**"

"w13h01":
  - "w13h01/**"
"w13h02":
  - "w13h02/**"
"w13h03":
  - "w13h03/**"

[W09H02] Add tests for `percentOfKindStops` (#217)
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
  w09h02/test/pgdp/trains/processing/PercentOfKindStopsTest.java
Labels: w09h02

test if write() closes FrameConsumer
  w09h03/test/pgdp/filter/IsClosedTest.java
Labels: w09h03

[W10H02] First Commit
  w10h02/test/pgdp/teams/ArtemisTest.java
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Add comment for explaining the `testTooEarlyTrainsShouldNotCompensateTheDelay` comment
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
Labels: w09h02

test if exception from close() gets properly passed to caller
  w09h03/test/pgdp/filter/IsClosedTest.java
  w09h03/test/pgdp/filter/VideoContainerTests.java
Labels: w09h03

change exception to be catched to handle wrapped/runtime exceptions
  w09h03/test/pgdp/filter/VideoContainerTests.java
Labels: w09h03

Fix typo
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
Labels: w09h02

Add FrameIteratorTest
  w09h03/test/pgdp/filter/DecodeTest.java
  w09h03/test/pgdp/filter/FrameIteratorTest.java
  w09h03/test/pgdp/filter/MockFrameProvider.java
Labels: w09h03

[W09B01] fix wrong assertFalse for Test 02 and 04 in AiTest
  w09b01/test/pgdp/tictactoe/ai/AITests.java
Labels: w09b01

Update w09b01/test/pgdp/tictactoe/ai/AITestValidMoves.java
  w09b01/test/pgdp/tictactoe/ai/AITestValidMoves.java
Labels: w09b01

Fix OutOfBounds
  w09h03/test/pgdp/filter/MockFrameProvider.java
Labels: w09h03

Refactor `CropTest.java`
  w09h03/test/pgdp/filter/CropTest.java
Labels: w09h03

Refactor `DecodeTest.java`
  w09h03/test/pgdp/filter/DecodeTest.java
Labels: w09h03

Refactor `GreyscaleTest.java`
  w09h03/test/pgdp/filter/GreyscaleTest.java
Labels: w09h03

Refactor `VideoContainerTest.java`
  w09h03/test/pgdp/filter/VideoContainerTest.java
Labels: w09h03

[W09H01] Add comment for explaining the `testTooEarlyTrainsShouldNotCompensateTheDelay` comment (#241)
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
Labels: w09h02

Change equality test
  w09h03/test/pgdp/filter/CropTest.java
Labels: w09h03

Rename `VideoContainerTests` to `VideoContainerTest`
  w09h03/test/pgdp/filter/VideoContainerTest.java
Labels: w09h03

[W09H03] test write() behavior regarding the passed FrameConsumer (#239)
  w09h03/test/pgdp/filter/VideoContainerTest.java
Labels: w09h03

[W09H01] Rename `LegalCheck` to `LegalCheckTest`
  w09h01/test/pgdp/pingutrip/LegalCheckTest.java
Labels: w09h01

[W09H01] Rename `LegalCheck` to `LegalCheckTest` (#243)
  w09h01/test/pgdp/pingutrip/LegalCheckTest.java
Labels: w09h01

Remove unused VideoContainer in DecodeTest
  w09h03/test/pgdp/filter/DecodeTest.java
Labels: w09h03

[W10H01] Added simple TrialOfTheSwordTest
  w10h01/test/pgdp/trials/TrialOfTheSwordTest
Labels: w10h01

Update TrialOfTheSwordTest
  w10h01/test/pgdp/trials/TrialOfTheSwordTest
Labels: w10h01

[W10H03] Implement first tests (#238)
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

added.java
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01

refactor assert equal for sets
  w10h02/test/pgdp/teams/ArtemisTest.java
Labels: w10h02

add more penguins
  w10h02/test/pgdp/teams/Lib.java
Labels: w10h02

fix artemis introduced typo
  w10h02/test/pgdp/teams/Lib.java
Labels: w10h02

simplify assertEquals
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

Delete w10h03 directory
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H03] Delete w10h03 directory (#245)
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

[W10H02] First Commit (#240)
  w10h02/test/pgdp/teams/ArtemisTest.java
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

[W10H01] Trial of the Swords Test (#244)
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01

[W10H03] Add Tests
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

Create TrialOfTheDreamsTest.java
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

Added new Test Case
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01

Update TrialOfTheSwordTest.java
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01

hot fix delete leftover code
  w10h02/test/pgdp/teams/ArtemisTest.java
Labels: w10h02

Update w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01
