Repository MaximilianAnzinger/pgdp2223-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, w01h01, w01h02, w01h03, w02h01, w02h02, w02h03, w03h01, w03h02, w03h03, w04h01, w04h02, w04h03, w05h01, w05h02, w05h03, w06h01, w06h02, w06h03, w07h01, w07h02, w07h03, w08h01, w08h02, w08h03, w09b01, w09h01, w09h02, w09h03, w10h01, w10h02, w10h03, w11h01, w11h02, w11h03, w12h01, w12h02, w12h03, w13h01, w13h02, w13h03

disable message test
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Update w11h03/test/pgdp/networking/NetworkTest.java
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Update w11h03/test/pgdp/networking/NetworkTest.java
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Replace warnConnect() with README error
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

fix suggestions from felix
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

add todo comment
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

@felixhauptmann Update w11h03/test/pgdp/networking/NetworkTest.java
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Use literal representations of possibilities for expected values
  w11h03/test/pgdp/networking/OrBuilder.java
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Remove unneccessary test cases
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Change expected values for HTTPTest in accordance with Zulip posts
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

Fix switchConnection test
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Specify string encoding in testMessageHuge
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Change datetime format
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

Add nicer feedback whens test regarding exceptions in connect() fail
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Print Readme before every test in SocketTest
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

[W11H03] Add tests for HTTP and Socket (#274)
  w11h03/test/pgdp/networking/HTTPClientMock.java
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/OrBuilder.java
  w11h03/test/pgdp/networking/ReflectUtils.java
  w11h03/test/pgdp/networking/SocketTest.java
  w11h03/test/pgdp/networking/lipsum.txt
  w11h03/test/pgdp/networking/lipsum_truncated.txt
Labels: w11h03

ensure tests aren't run individually
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

fix testLoginFailed() and testLoginGarbage()
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

[W11H03] Network Tests (#277)
  w11h03/test/config.env
  w11h03/test/pgdp/networking/Lib.java
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Allow getContacts to return an empty map when request fails
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

Fix incorrect testMessageHuge on certain platforms
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Account for differently sized buffers in sendMessage
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Flex my Zulip link collection
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

Apply suggestions from code review
  w11h03/test/pgdp/networking/HTTPTest.java
Labels: w11h03

Fix testMessage expected length
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Account for overflows when detecting an incorrect message size
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Remove incorrect assert in testMessages()
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

Apply suggestions from code review
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

[W11H03] Fix many issues in W11H03 (#282)
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

respond with valid body
  w11h03/test/pgdp/networking/DataHandlerTest.java
Labels: w11h03

[W11H03] respond with valid body (#283)
  w11h03/test/pgdp/networking/DataHandlerTest.java
Labels: w11h03

fix test 12
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

Added basic behaviour test (mainly from w06h02)
  w12h02/test/pgdp/ds/MultiStackTest.java
  w12h02/test/pgdp/ds/RingBufferTest.java
Labels: w12h02

[W11H03] fix test 12 (#284)
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

add test case for potential loop
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

add valid path to path finding test
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

remove redundant specification of capacity and flow
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

add output of solution
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

remove not allowed loop test
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

fix expected flow rate
  w11b01/test/pgdp/pengusurvivors/ResidualGraphTest.java
Labels: none

.github/labeler.yml:

"ci/cd":
  - .github/workflows/*
  - .github/labeler.yml

"documentation":
  - "**/*.md"

"w01h01":
  - "w01h01/**"
"w01h02":
  - "w01h02/**"
"w01h03":
  - "w01h03/**"

"w02h01":
  - "w02h01/**"
"w02h02":
  - "w02h02/**"
"w02h03":
  - "w02h03/**"

"w03h01":
  - "w03h01/**"
"w03h02":
  - "w03h02/**"
"w03h03":
  - "w03h03/**"

"w04h01":
  - "w04h01/**"
"w04h02":
  - "w04h02/**"
"w04h03":
  - "w04h03/**"

"w05h01":
  - "w05h01/**"
"w05h02":
  - "w05h02/**"
"w05h03":
  - "w05h03/**"

"w06h01":
  - "w06h01/**"
"w06h02":
  - "w06h02/**"
"w06h03":
  - "w06h03/**"

"w07h01":
  - "w07h01/**"
"w07h02":
  - "w07h02/**"
"w07h03":
  - "w07h03/**"

"w08h01":
  - "w08h01/**"
"w08h02":
  - "w08h02/**"
"w08h03":
  - "w08h03/**"

"w09b01":
  - "w09b01/**"
"w09h01":
  - "w09h01/**"
"w09h02":
  - "w09h02/**"
"w09h03":
  - "w09h03/**"

"w10h01":
  - "w10h01/**"
"w10h02":
  - "w10h02/**"
"w10h03":
  - "w10h03/**"

"w11h01":
  - "w11h01/**"
"w11h02":
  - "w11h02/**"
"w11h03":
  - "w11h03/**"

"w12h01":
  - "w12h01/**"
"w12h02":
  - "w12h02/**"
"w12h03":
  - "w12h03/**"

"w13h01":
  - "w13h01/**"
"w13h02":
  - "w13h02/**"
"w13h03":
  - "w13h03/**"
