Repository MaximilianAnzinger/pgdp2223-tests, pull requests merged in 2022-11, with the labels that each got.

#37 [w04h01] Alle Tests
  w04h01/test/pgdp/RecursivePingulogyTest.java
Labels: w04h01

#38 fix mixed up expected and actual values
  w03h03/test/pgdp/SeamCarvingTest.java
Labels: w03h03

#39 Fix 0x6 gradientmagnitude
  w03h03/test/pgdp/MoreSeamCarvingTests.java
Labels: w03h03

#42 [W04H02] Fixed order of parameters
  w04h02/test/pgdp/UnitTests.java
Labels: w04h02

#43 [W04H03] Simple tests for W04H03
  w04h03/test/pgdp/UnitTest.java
Labels: w04h03

#40 [W04H03] Add tests for examples on artemis
  w04h03/test/pgdp.convexhull/ClosedConvexHullExample.java
  w04h03/test/pgdp.convexhull/OpenConvexHullExample.java
Labels: w04h03

#45 [W04H01] Add new edgecase test
  w04h01/test/pgdp/RecursivePingulogyTest.java
Labels: w04h01

#50 [w04h01] Timeout
  w04h01/test/pgdp/RecursivePingulogyTest.java
  w04h02/test/pgdp/UnitTests.java
Labels: w04h01, w04h02

#51 [w04h03] added alternative accepted test case
  w04h03/test/pgdp.convexhull/ClosedConvexHullExample.java
Labels: w04h03

#53 move test into package megamerge
  w04h02/test/pgdp/megamerge/UnitTests.java
Labels: w04h02

#46 [W03H03] Add corner case test in build_seams_Seamsarray
  w03h03/test/pgdp/SeamCarvingTest.java
Labels: w03h03

#55 [W04H03] Null / empty / invalid inputs for combineHulls() and quickHullLeftOf()
  w04h03/test/pgdp/UnitTest.java
Labels: w04h03

#57 [w04h01] Fix von Bug bei Negativen zahlen
  w04h01/test/pgdp/RecursivePingulogyTest.java
Labels: w04h01

#56 [*] Add check for pr title
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/validate_pr_title.yml
Labels: ci/cd

#60 [W04H03] Rewrite PenguHull Tests
  w04h03/test/pgdp/UnitTest.java
Labels: w04h03

#62 [W04H02] fix mergeorder test
  w04h02/test/pgdp/megamerge/MergeRecursiveTest.java
Labels: w04h02

#65 [W04H03] Added Tests for Convexhulls
  w04h03/test/pgdp/ConvexHullTests.java
Labels: w04h03

#64 [W04H02] remove/disable incorrect tests
  w04h02/test/pgdp/megamerge/MegaMergeSortTest.java
  w04h02/test/pgdp/megamerge/MergeRecursiveTest.java
Labels: w04h02

#67 [W04H02] Changed input1 and input2 to newly defined arrays so overwrite doesn't happen
  w04h02/test/pgdp/megamerge/MergeRecursiveTest.java
Labels: w04h02

#70 [W04H02] Remove unused imports, variables and methods
  w04h02/test/pgdp/megamerge/MergeRecursiveTest.java
  w04h02/test/pgdp/megamerge/UnitTests.java
Labels: w04h02

#71 [W04H02] Add test for edge cases of `.merge(int[][] arrays, int from, int to)`
  w04h02/test/pgdp/megamerge/MergeTest.java
Labels: w04h02

#73 [W04H01] Add test with Integer.MAX_VALUE for pinguDNA
  w04h01/test/pgdp/RecursivePingulogyTest.java
Labels: w04h01

#74 [W04H03] Added more quickhull tests
  w04h03/test/pgdp/AdditionalQuickHullTests.java
Labels: w04h03

#76 [W05H02] Added structural tests
  w05h02/test/pgdp/pingunetwork/structural/GroupStructuralTest.java
  w05h02/test/pgdp/pingunetwork/structural/InteractionStructuralTest.java
  w05h02/test/pgdp/pingunetwork/structural/PictureStructuralTest.java
  w05h02/test/pgdp/pingunetwork/structural/StructuralTest.java
  w05h02/test/pgdp/pingunetwork/structural/UserStructuralTest.java
Labels: w05h02

#75 [W05H02] Added Tests for pinguNetwork
  w05h02/PinguNetworkTest.java
Labels: w05h02

#77 [W05H03] Added Tests for w05h03 Messenger
  w05h03/test/pgdp/MessengerTests.java
Labels: w05h03

#78 [W05H02] Added behaviour tests for the second task
  w05h02/test/pgdp/BehaviorTest.java
  w05h03/test/pgdp/messenger/test/ListBehaviourTest.java
  w05h03/test/pgdp/messenger/test/PinguTalkBehaviourTest.java
  w05h03/test/pgdp/messenger/test/UserArrayBehaviourTest.java
Labels: w05h02, w05h03

#85 [W05H03] Add behavior tests
  w05h03/test/pgdp.messenger.behavior/ListTest.java
  w05h03/test/pgdp.messenger.behavior/PinguTalkTest.java
  w05h03/test/pgdp.messenger.behavior/TestUtils.java
  w05h03/test/pgdp.messenger.behavior/UserArrayTest.java
Labels: w05h03

#87 [W05H03] Added structural tests and rewrote MessengerTests using reflection
  w05h02/test/pgdp/pingunetwork/behavioral/PinguNetworkTest.java
  w05h03/test/pgdp/MessengerTests.java
  w05h03/test/pgdp/ModifierTests.java
  w05h03/test/pgdp/ReflectionHelper.java
Labels: w05h02, w05h03

#88 [W05H03] tests for list merging
  w05h03/test/pgdp/ListMergeTests.java
Labels: w05h03

#89 [W05H03] change the import paths for the TestUtils
  w05h03/test/pgdp.messenger.behavior/ListTest.java
  w05h03/test/pgdp.messenger.behavior/PinguTalkTest.java
Labels: w05h03

#90 [W05H02] changed the package and import from package pgdp.pingunetwork
  w05h02/test/pgdp/pingunetwork/behavioral/PinguNetworkTest.java
Labels: w05h02

#95 [W05H02] Fix InteractionStructuralTest
  w05h02/test/pgdp/pingunetwork/structural/InteractionStructuralTest.java
Labels: w05h02

#99 [W05H03] Fix package name for "pgdp.messenger.behavior"
  w05h03/test/pgdp/messenger/behavior/ListTest.java
  w05h03/test/pgdp/messenger/behavior/PinguTalkTest.java
  w05h03/test/pgdp/messenger/behavior/TestUtils.java
  w05h03/test/pgdp/messenger/behavior/UserArrayTest.java
Labels: w05h03

#100 [W05H03] Remove empty class `PinguTalkBehaviourTest.java`
  w05h03/test/pgdp/messenger/test/PinguTalkBehaviourTest.java
Labels: w05h03

#101 [W05H03] Remove optional tests
  w05h03/test/pgdp/MessengerTests.java
  w05h03/test/pgdp/messenger/test/UserArrayBehaviourTest.java
Labels: w05h03

#102 [W06H01] Add tests for all methods of week 6 h 1
  w06h01/test/pgdp/KinguinTest.java
  w06h01/test/pgdp/ReverseTest.java
  w06h01/test/pgdp/TestAPI.java
  w06h01/test/pgdp/ThreshTest.java
  w06h01/test/pgdp/ZipTest.java
Labels: w06h01

#91 [W06H02] Add basic unit tests
  w06h02/test/pgdp/ds/MultiStackTest.java
  w06h02/test/pgdp/ds/RingBufferTest.java
Labels: w06h02

#103 [W05H03] Update ListBehaviourTest.java
  w05h03/test/pgdp/messenger/test/ListBehaviourTest.java
Labels: w05h03

#96 [W06H03] Add unit tests
  w06h03/test/pgdp/ds/behavior/DenseGraphTest.java
  w06h03/test/pgdp/ds/behavior/GraphTest.java
  w06h03/test/pgdp/ds/behavior/SparseGraphTest.java
Labels: w06h03

#104 [W06H02] [MINOR] add tests for empty stack
  w06h02/test/pgdp/ds/MultiStackTest.java
Labels: w06h02

#107 [W06H03] added method to easily reconstruct graph given instruction set
  w06h03/DeGraphViz.java
Labels: w06h03

#108 [W06H03] Sparse und Dense Capability test
  w06h03/test/pgdp/ds/DenseGraphCapabilityTest.java
  w06h03/test/pgdp/ds/SparseGraphCapabilityTest.java
Labels: w06h03

#109 [W06H01] Rewrote existing tests a bit to cover more details
  w06h01/test/pgdp/CountTreshTest.java
  w06h01/test/pgdp/KinguinSortTest.java
  w06h01/test/pgdp/KinguinTest.java
  w06h01/test/pgdp/ReverseTest.java
  w06h01/test/pgdp/TestAPI.java
  w06h01/test/pgdp/TestBase.java
  w06h01/test/pgdp/ThreshTest.java
  w06h01/test/pgdp/ZipTest.java
Labels: w06h01

#110 [W06H02] Add further tests
  w06h02/test/pgdp/ds/MultiStackTest.java
  w06h02/test/pgdp/ds/RingBufferTest.java
Labels: w06h02

#111 [W06H03] fix
  w06h03/test/pgdp/ds/DenseGraphCapabilityTest.java
  w06h03/test/pgdp/ds/SparseGraphCapabilityTest.java
  w06h03/test/pgdp/ds/behavior/GraphTest.java
Labels: w06h03

#115 [W06H02] Added tests for returned values
  w06h02/test/pgdp/ds/MultiStackTest.java
Labels: w06h02

#114 [W06H01] Add test for usage of loops
  w06h01/test/pgdp/LoopTest.java
Labels: w06h01

#116 [W06H01] Use RegExp instead of simple keyword search for `testUsageOfLoops`
  w06h01/test/pgdp/LoopTest.java
Labels: w06h01

#113 [W06H03] Add further tests
  w06h03/test/pgdp/ds/behavior/DenseGraphTest.java
  w06h03/test/pgdp/ds/behavior/GraphTest.java
  w06h03/test/pgdp/ds/behavior/SparseGraphTest.java
Labels: w06h03
