Repository MaximilianAnzinger/pgdp2223-tests, pull requests merged in 2022-12, with the labels that each got.

#112 [W06H01] Added checks for illegal modification and creation of RecIntListElements
  w06h01/test/pgdp/ReverseTest.java
  w06h01/test/pgdp/TestBase.java
  w06h01/test/pgdp/ZipTest.java
Labels: w06h01

#122 [W06H03] Capability: RAM-Anzeige für bessere Vergleichbarkeit
  w06h03/test/pgdp/ds/DenseGraphCapabilityTest.java
  w06h03/test/pgdp/ds/SparseGraphCapabilityTest.java
Labels: w06h03

#123 [W06H03] getAdj: when index is out of range return null
  w06h03/test/pgdp/ds/behavior/GraphTest.java
Labels: w06h03

#121 [W06H01] improve loop finding
  w06h01/test/pgdp/LoopTest.java
Labels: w06h01

#120 [W06H01] Added two more tests for reverse
  w06h01/test/pgdp/ReverseTest.java
Labels: w06h01

#117 [W06H02] remove/fix tests expecting specific values in unused mem array
  w06h02/test/pgdp/ds/MultiStackTest.java
Labels: w06h02

#118 [W06H02] Add check for illegal stack creation
  w06h02/test/pgdp/ds/MultiStackTest.java
Labels: w06h02

#128 [W06H01] check for equals elements and correclty setted links
  w06h01/test/pgdp/KinguinSortTest.java
Labels: w06h01

#129 [W06H03] compare sorted list of adjacent nodes
  w06h03/test/pgdp/ds/DenseGraphCapabilityTest.java
  w06h03/test/pgdp/ds/SparseGraphCapabilityTest.java
Labels: w06h03

#130 [W06H02] Test for EdgeCase: top when MultiStack is Empty
  w06h02/test/pgdp/ds/MultiStackTest.java
Labels: w06h02

#127 [W07H02] Add tests
  w07h02/test/pgdp/mocks/MethodCall.java
  w07h02/test/pgdp/mocks/Mock.java
  w07h02/test/pgdp/mocks/SignalPostMock.java
  w07h02/test/pgdp/security/FinishPostTest.java
  w07h02/test/pgdp/security/FlagPostTest.java
  w07h02/test/pgdp/security/LightPanelTest.java
  w07h02/test/pgdp/security/SignalPostTest.java
  w07h02/test/pgdp/security/TestBase.java
  w07h02/test/pgdp/security/TrackTest.java
Labels: w07h02

#136 [W07H02] Unit tests for the LigthPanel, FlagPost and FinishPost
  w07h02/test/pgdp/security/test/UnitTests.java
Labels: w07h02

#142 [W07H02] fix invalid depiction of final state
  w07h02/test/pgdp/security/test/UnitTests.java
Labels: w07h02

#139 [W07H03] test behaviour: herbivore eat
  w07h03/test/pgdp/sim/EatBehaviourTest.java
Labels: w07h03

#141 [W07H02] remove tests that are trying to define undefined behaviour
  w07h02/test/pgdp/security/TestBase.java
  w07h02/test/pgdp/security/TrackTest.java
Labels: w07h02

#133 [W07H03] Template for simulation tests and four tests
  w07h03/pgdp/sim/FieldVisualizeHelper.java
  w07h03/pgdp/sim/SimulationTest.java
Labels: w07h03

#147 [W07H03] fix file path
  w07h03/test/pgdp/sim/FieldVisualizeHelper.java
  w07h03/test/pgdp/sim/SimulationTest.java
Labels: w07h03

#150 [W07H02] replace line separators for better compatibility
  w07h02/test/pgdp/security/TrackTest.java
Labels: w07h02

#151 [W07H03] access cells array via reflection and initialize SimConfig
  w07h03/test/pgdp/sim/SimulationTest.java
Labels: w07h03

#149 [W07H03] fix(eatBehaviour): insert eating party at x y
  w07h03/test/pgdp/sim/EatBehaviourTest.java
Labels: w07h03

#153 [W07H03] test for the use of RandomGenerator
  w07h03/test/pgdp/sim/RandomGeneratorTest.java
Labels: w07h03

#158 [W07H03] Added 10x10 grid Simulation tests for
  w07h03/test/pgdp/sim/SimulationTest.java
Labels: w07h03

#156 [W07H03] extended hamster,wolf test with death
  w07h03/test/pgdp/sim/SimulationTest.java
Labels: w07h03

#159 [W07H03] Added canEat tests that checks if instanceof has been used and added move method tests
  w07h03/test/pgdp/sim/EatBehaviourTest.java
  w07h03/test/pgdp/sim/MoveMethodTest.java
  w07h03/test/pgdp/sim/SimulationTest.java
Labels: w07h03

#160 [W07H02] Added more track tests
  w07h02/test/pgdp/security/TrackTest.java
Labels: w07h02

#154 [W08H01] simple behaviour tests
  w08h01/test/pgdp/SimpleGenericsTest.java
Labels: w08h01

#165 [W08H03] add first tests
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#164 [W08H01] Fixed comparator
  w08h01/test/pgdp/SimpleGenericsTest.java
Labels: w08h01

#162 [W08H02] added behavioral and structural tests
  w08h02/test/pgdp/pools/TaskBehaviorTest.java
  w08h02/test/pgdp/pools/TaskFactoryBehaviorTest.java
  w08h02/test/pgdp/pools/TaskFunctionBehaviorTest.java
  w08h02/test/pgdp/pools/TaskPoolBehaviorTest.java
  w08h02/test/pgdp/pools/structural/StructuralTest.java
  w08h02/test/pgdp/pools/structural/TaskFactoryTest.java
  w08h02/test/pgdp/pools/structural/TaskFunctionStructuralTest.java
  w08h02/test/pgdp/pools/structural/TaskPoolStructuralTest.java
  w08h02/test/pgdp/pools/structural/TaskStructuralTest.java
Labels: w08h02

#166 [W08H03] add generic and dynamic tests
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#168 [W08H03] test parallel iterators
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#172 [W08H03] Add a test with a tree where a node returns `[null, a, null, b]` for `getChildren()`
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#170 [W08H03] Use brute force to find possible edge cases
  w08h03/test/pgdp/datastructures/RandomTest.java
Labels: w08h03

#176 [W08H01] adding the test if one collection out of the array is empty
  w08h01/test/pgdp/SimpleGenericsTest.java
Labels: w08h01

#180 [W08H03] Fixed performance
  w08h03/test/pgdp/datastructures/RandomTest.java
Labels: w08h03

#183 [W08H03] Added big tree test and edited existing tests
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#174 [W08H03] revert test parallel iterators
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#182 [W08H02] Adds a Test if epuals works correctly
  w08h02/test/pgdp/pools/TaskPoolBehaviorTest.java
Labels: w08h02

#184 [W08H03] Fix order to expected and actual
  w08h03/test/pgdp/datastructures/RandomTest.java
Labels: w08h03

#178 [W09H01] Add tests for `readWayPoints`
  w09h01/test/pgdp/pingutrip/ReadWayPointsTest.java
Labels: w09h01

#187 [*] Fix `validate-pr-title` GitHub Action for bonus tasks
  .github/workflows/validate_pr_title.yml
Labels: ci/cd

#171 [W08H03] Add performance tests
  w08h03/test/pgdp/datastructures/PerformanceTest.java
  w08h03/test/pgdp/datastructures/UnitTest.java
Labels: w08h03

#177 [W09H01] Legality of Homework Checker
  w09h01/test/pgdp/pingutrip/LegalCheck.java
Labels: w09h01

#189 [W08H03] add test for recursion
  w08h03/test/pgdp/datastructures/RecursiveTest.java
Labels: w08h03

#190 [W08H02] test(TaskFunctionBehaviorTest): Add strict equals comparison
  w08h02/test/pgdp/pools/TaskBehaviorTest.java
  w08h02/test/pgdp/pools/TaskFunctionBehaviorTest.java
Labels: w08h02

#179 [W09H01] Add test for `transformToWays`
  w09h01/test/pgdp/pingutrip/TransformToWaysTest.java
Labels: w09h01

#201 [W09H01] Use `assertArrayEquals` (refactoring)
  w09h01/test/pgdp/pingutrip/ReadWayPointsTest.java
Labels: w09h01

#195 [W09H02] Converted all official Examples from the main method to JUnit Tests
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
Labels: w09h02

#193 [W09H02] test(CleanDatasetTest, DelayComparedToTravelTimeTest): Add template and first tests
  w09h02/test/pgdp/trains/processing/CleanDatasetTest.java
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
  w09h02/test/pgdp/trains/processing/resources/JSONDataset.java
  w09h02/test/pgdp/trains/processing/utils/JSONParser.java
Labels: w09h02

#196 [W09H03] Added Some Tests for VideoContainer (Konstruktor, Limit) and for Operations (GrayScale, Crop, Encode, Decode)
  w09b01/pgdp/AITests.java
  w09b01/pgdp/GameTests.java
  w09h03/test/pgdp/filter/DGTest.java
Labels: w09h03
