Repository MaximilianAnzinger/pgdp2223-tests, pull requests merged in 2023-01, with the labels that each got.

#198 [*] Add `CONTRIBUTING.md` file
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: documentation

#203 [W09H01] Do not use an empty string for file path for the `readWayPoints` method test
  w09h01/test/pgdp/pingutrip/ReadWayPointsTest.java
Labels: w09h01

#219 [*] Add GitHub label for `w09b01`
  .github/labeler.yml
Labels: ci/cd

#222 [W09H02] Add tests for `averageDelayByHour`
  w09h02/test/pgdp/trains/processing/AverageDelayByHourTest.java
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
Labels: w09h02

#221 [W09H02] Add more tests for `delayComparedToTravelTimeTest`
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
Labels: w09h02

#206 [W09H01] Some utility tests for `kidFriendlyTrip()` and `pathLenghtSimple()` and for nearly every other function in this homework
  w09h01/test/pgdp/pingutrip/FurthestAwayFromHomeTest.java
  w09h01/test/pgdp/pingutrip/KidFriedlyTripTest.java
  w09h01/test/pgdp/pingutrip/PathLengthTest.java
  w09h01/test/pgdp/pingutrip/TransformToWaysTest.java
Labels: w09h01

#214 [W09H01] Add tests for `PinguTrip.onTheWay` (task 6)
  w09h01/test/pgdp/pingutrip/OnWayTest.java
Labels: w09h01

#220 [W09H03] Remove unnecessary tests and moved the decoded string of the `noot.mp4` video into a serparate file
  w09h03/test/pgdp/filter/DGTest.java
  w09h03/test/pgdp/filter/DecodedTextFromVideo.java
Labels: w09h03

#218 [W09H02] Add tests for `averageDelayAt`
  w09h02/test/pgdp/trains/processing/AverageDelayAtTest.java
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
Labels: w09h02

#232 [W09B01] fix folder structure and access to non public field
  w09b01/pgdp/GameTests.java
  w09b01/test/pgdp/tictactoe/GameTests.java
  w09b01/test/pgdp/tictactoe/UnitTests.java
  w09b01/test/pgdp/tictactoe/ai/AITests.java
  w09b01/test/pgdp/tictactoe/ai/SimpleAITest.java
  w09b01/test/pgdp/tictactoe/ai/TestAI.java
Labels: w09b01

#231 [W09H03] cleanup DGTest tests
  w09h03/test/pgdp/filter/DGTest.java
  w09h03/test/pgdp/filter/DecodedTextFromVideo.java
Labels: w09h03

#228 [W09H01] fix missing import & better cross platform compatibility
  w09h01/test/pgdp/pingutrip/PrettyDirectionsTest.java
  w09h01/test/pgdp/pingutrip/ReadWayPointsTest.java
Labels: w09h01

#234 [W09H01] Add test for empty stream PrettyDirections
  w09h01/test/pgdp/pingutrip/PrettyDirectionsTest.java
Labels: w09h01

#216 [W09H02] Add tests for `worstDelayedTrain`
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
  w09h02/test/pgdp/trains/processing/WorstDelayedTrainTest.java
Labels: w09h02

#217 [W09H02] Add tests for `percentOfKindStops`
  w09h02/test/pgdp/trains/processing/OfficialExampleTests.java
  w09h02/test/pgdp/trains/processing/PercentOfKindStopsTest.java
Labels: w09h02

#241 [W09H01] Add comment for explaining the `testTooEarlyTrainsShouldNotCompensateTheDelay` comment
  w09h02/test/pgdp/trains/processing/DelayComparedToTravelTimeTest.java
Labels: w09h02

#239 [W09H03] test write() behavior regarding the passed FrameConsumer
  w09h03/test/pgdp/filter/VideoContainerTest.java
Labels: w09h03

#243 [W09H01] Rename `LegalCheck` to `LegalCheckTest`
  w09h01/test/pgdp/pingutrip/LegalCheckTest.java
Labels: w09h01

#238 [W10H03] Implement first tests
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

#245 [W10H03] Delete w10h03 directory
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableComparable.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

#240 [W10H02] First Commit
  w10h02/test/pgdp/teams/ArtemisTest.java
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

#244 [W10H01] Trial of the Swords Test
  w10h01/test/pgdp/trials/TrialOfTheSwordTest.java
Labels: w10h01

#250 [W10H02] Hot Fix: Delete Leftover Code
  w10h02/test/pgdp/teams/ArtemisTest.java
Labels: w10h02

#255 [W10H03] replace depthTest with findTest
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

#251 [W10H02] Added computeScores() test near the boundaries
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

#253 [W10H01] Added TrialOfDreams tests
  w10h01/test/pgdp/trials/TrialOfTheDreamsTest.java
Labels: w10h01

#263 [W10H03] Added Tests for heavyTree to see if children are removed properly
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/OptimizableLongest.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

#260 [W10H02] added Test for more Players available than needed Players
  w10h02/test/pgdp/teams/Lib.java
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

#256 [W10H01] Add tests for `TrialOfTheGrasses`
  w10h01/test/pgdp/trials/TrialOfTheGrassesTest.java
Labels: w10h01

#269 [W10H03] Added tests for amount of calls of next()
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
Labels: w10h03

#264 [W10H03] added Test for Tree with 100k children per node
  w10h03/test/pgdp/infinite/InfiniteTreeTest.java
  w10h03/test/pgdp/infinite/Lambdas.java
  w10h03/test/pgdp/infinite/Trees.java
Labels: w10h03

#266 [W10H02] add empty Player Set test
  w10h02/test/pgdp/teams/UnitTest.java
Labels: w10h02

#267 [W10H03] Added isFullyCalculatedTest & extended resetChildren
  w10h03/test/pgdp/infinite/InfiniteNodeTest.java
Labels: w10h03

#275 [W11H03] DataHandler tests
  w11h03/test/pgdp/networking/DataHandlerTest.java
  w11h03/test/pgdp/networking/Util.java
Labels: w11h03

#274 [W11H03] Add tests for HTTP and Socket
  w11h03/test/pgdp/networking/HTTPClientMock.java
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/OrBuilder.java
  w11h03/test/pgdp/networking/ReflectUtils.java
  w11h03/test/pgdp/networking/SocketTest.java
  w11h03/test/pgdp/networking/lipsum.txt
  w11h03/test/pgdp/networking/lipsum_truncated.txt
Labels: w11h03

#277 [W11H03] Network Tests
  w11h03/test/config.env
  w11h03/test/pgdp/networking/Lib.java
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

#282 [W11H03] Fix many issues in W11H03
  w11h03/test/pgdp/networking/HTTPTest.java
  w11h03/test/pgdp/networking/SocketTest.java
Labels: w11h03

#283 [W11H03] respond with valid body
  w11h03/test/pgdp/networking/DataHandlerTest.java
Labels: w11h03

#284 [W11H03] fix test 12
  w11h03/test/pgdp/networking/NetworkTest.java
Labels: w11h03

#285 [W12H02] Added basic behaviour test (mainly from w06h02)
  w12h02/test/pgdp/ds/MultiStackTest.java
  w12h02/test/pgdp/ds/RingBufferTest.java
Labels: w12h02

#292 [W12H02] Multithread Multistack and Ringbuffer tests
  w12h02/test/pgdp/ds/MultiStackMultithreadTest.java
  w12h02/test/pgdp/ds/RingbufferMultithreadTest.java
  w12h02/test/pgdp/ds/TimeoutChecker.java
Labels: w12h02

#291 [W12H02] added multithreaded tests
  w12h02/test/pgdp/ds/MultiStackSyncTests.java
  w12h02/test/pgdp/ds/RingBufferBlockingTests.java
Labels: w12h02

#257 [W12H03] Added tests for ShuttleOutput, ShuttleProcessor and TaskDistributor and at this point also TaskChecker and Shuttlecomputer because its been two weeks
  w12h03/test/pgdp/shuttle/ReflectionHelper.java
  w12h03/test/pgdp/shuttle/ShuttleComputerTests.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskCheckerTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
Labels: w12h03

#296 [W12H03] ShutDownTest Switched two lines
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

#299 [*] Add labels for W11B01 and W13B01
  .github/labeler.yml
Labels: ci/cd

#301 [W12H03] made test results easier to understand
  w12h03/test/pgdp/shuttle/ShuttleComputerTests.java
  w12h03/test/pgdp/shuttle/ShuttleOutputTests.java
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
  w12h03/test/pgdp/shuttle/TaskDistributorTests.java
  w12h03/test/pgdp/shuttle/TestTaskGenerator.java
Labels: w12h03

#297 [W12H03] ShutDownTest Detects now two variants of the Shutdown Message
  w12h03/test/pgdp/shuttle/ShuttleProcessorTests.java
Labels: w12h03

#303 [W13H01] Added comparisons between java and jvm code
  w13h01/READ_README.md_IN_test.pgdp.minijvm_FOR_WORKING_TESTS
  w13h01/test/pgdp.minijvm/BonusByteToJavaTest.java
  w13h01/test/pgdp.minijvm/JavaToByteTest.java
  w13h01/test/pgdp.minijvm/README.md
Labels: documentation, w13h01
